//**********************//
// Contaier das imagens
//**********************//

.box {
  display: flex;

  &__conteudo {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    order: 1;
  }

  &__info {
    width: 20%;
    order: 2;

    &-detalhe {
      height: 250px;
      margin: 0;
      padding: 10px;
      background-color: #81d4fa; // lighten(#81d4fa, 20%)
    }

    &-imagem {
      border: 1px solid #212121;
      width: 100px;
      height: 100px;
      margin: auto;
    }
  }

  &__card {
    width: 220px;
    height: 250px;
    cursor: pointer;
    margin: 0 10px 40px;

    &:hover {
      background-color: $secondary-color;
      color: #fff;
      padding: 20px;
    }

    &:hover img {
      display: none;
    }

    &:hover .texto {
      display: block;
    }

    &:hover button {
      float: right;
      display: inline-block;
    }

    & button {
      display: none;
    }
  }

  &__titulo, &__sub-titulo, &__texto {
    display: block;
  }

  &__titulo {
    font-size: 1em;
  }

  &__sub-titulo, &__texto, &__info-texto {
    font-size: 0.8571428571428571em;
  }

  &__info-texto {
    margin: 15px 0;
    color: #212121;
    font-weight: 500;
  }
}

.texto {
  display: none;
}

//*******************//
// Media queries
//*******************//


@media (max-width: 850px) {
  .box {
    &__conteudo {
     order: 2;
    }

    &__info {
      order: 1;
      min-width: 200px;
    }
  }
}
