//**********************//
// Variáveis
//**********************//

$primary-color: darken(#FF5722, 10%); //#F38630 #72B1B2
$secondary-color: #BF360C; // #69D2E7 #FFB689

// Diretório das fontes do bootstrap
$icon-font-path: 'bower_components/bootstrap-sass/assets/fonts/bootstrap/';