<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Thalita</title>
    <link href="style.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default menu-topo">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed btn-white" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand menu-topo__item" href="#">Thalita</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#" class="menu-topo__item">Resenhas</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid box">
    <section class="box__conteudo">
        <div class="box__card">
            <img src="img1.jpg" width="220" height="250" alt="Imagem do livro Extraordinário">

            <div class="texto">
                <span class="box__titulo text-center">Título do livro</span>
                <span class="box__sub-titulo text-center">Autor</span>
                <div class="box__texto text-left">Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. In elementis mé pra quem é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</div>
            </div>

            <button class="btn-flat btn-flat__efeito">
                LER MAIS
            </button>
        </div>

        <div class="box__card">
            <img src="img2.png" width="220" height="250" alt="Imagem do livro Extraordinário">

            <div class="texto">
                <span class="box__titulo text-center">Título do livro</span>
                <span class="box__sub-titulo text-center">Autor</span>
                <div class="box__texto text-left">Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. In elementis mé pra quem é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</div>
            </div>

            <button class="btn-flat btn-flat__efeito">
                LER MAIS
            </button>
        </div>

        <div class="box__card">
            <img src="img3.jpg" width="220" height="250" alt="Imagem do livro Extraordinário">

            <div class="texto">
                <span class="box__titulo text-center">Título do livro</span>
                <span class="box__sub-titulo text-center">Autor</span>
                <div class="box__texto text-left">Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. In elementis mé pra quem é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</div>
            </div>

            <button class="btn-flat btn-flat__efeito">
                LER MAIS
            </button>
        </div>
    </section>

    <section class="box__info">
        <div class="input-group">
            <input type="search" class="form-control" id="busca" placeholder="Pesquisar por ...">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>

        <div class="box__info-detalhe">
            <div class="box__info-imagem img-circle"></div>
            <div class="box__info-texto text-left">
                Texto Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. In elementis mé pra quem é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
            </div>
        </div>
    </section>
</div>

<footer>

</footer>

</body>
</html>