<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Livros que Li</title>
    <link href="style.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default menu-topo">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed btn-white" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand menu-topo__item" href="#">Blog Livros que Li</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#" class="menu-topo__item">Resenhas</a></li>
            </ul>

            <form class="navbar-form navbar-right">
                <input type="search" class="form-control" id="busca" placeholder="Pesquisar por ...">
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid box">
    <section class="box__conteudo">
        <button class="btn-voltar" href="index.html">Voltar</button>

        <div class="area-resenha">
            <img style="float: left;margin: auto 15px 10px auto;" src="img3.jpg" width="220" height="250"
                 alt="Imagem do livro Extraordinário">

            <div class="texto-menor">
                <span class="text-left">Título do livro: <strong>O Escandâlo da Estação</strong></span>
                <span class="text-left">Autor: <strong>Sophie Gee</strong></span>
                <span class="text-left">Páginas: 400</span>
                <span class="text-left">Editora: Novo Século</span>
            </div>

            <p class="texto-maior">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque mauris est, et faucibus
                elit feugiat dictum. Nam a ullamcorper nulla, eu tincidunt lectus. Sed varius vel ex at ultrices.
                Aliquam ut elit bibendum, dignissim sem in, auctor dolor. Donec congue, ligula mollis gravida lobortis,
                ante nunc convallis orci, nec viverra nulla risus eget orci. Nulla nec erat egestas, molestie diam eu,
                ultricies massa. In in ante dapibus, malesuada ipsum a, mattis magna. Aliquam arcu justo, vestibulum
                ullamcorper est sit amet, ullamcorper vehicula augue. Curabitur in orci magna. Duis facilisis faucibus
                porttitor. In blandit massa purus, et laoreet odio facilisis et. Duis volutpat, nibh dignissim convallis
                ornare, augue tellus posuere turpis, vel cursus felis est ac turpis. Cras euismod scelerisque sem, eget
                condimentum dolor vehicula at. Fusce vel mauris blandit, mattis libero a, blandit quam. Nulla facilisis,
                tellus eget consequat fermentum, turpis metus viverra nibh, ac condimentum magna diam nec ligula.
            </p>

            <p class="texto-maior">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque mauris est, et faucibus
                elit feugiat dictum. Nam a ullamcorper nulla, eu tincidunt lectus. Sed varius vel ex at ultrices.
                Aliquam ut elit bibendum, dignissim sem in, auctor dolor. Donec congue, ligula mollis gravida lobortis,
                ante nunc convallis orci, nec viverra nulla risus eget orci. Nulla nec erat egestas, molestie diam eu,
                ultricies massa. In in ante dapibus, malesuada ipsum a, mattis magna. Aliquam arcu justo, vestibulum
                ullamcorper est sit amet, ullamcorper vehicula augue. Curabitur in orci magna. Duis facilisis faucibus
                porttitor. In blandit massa purus, et laoreet odio facilisis et. Duis volutpat, nibh dignissim convallis
                ornare, augue tellus posuere turpis, vel cursus felis est ac turpis. Cras euismod scelerisque sem, eget
                condimentum dolor vehicula at. Fusce vel mauris blandit, mattis libero a, blandit quam. Nulla facilisis,
                tellus eget consequat fermentum, turpis metus viverra nibh, ac condimentum magna diam nec ligula.
            </p>

            <p class="texto-maior">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque mauris est, et faucibus
                elit feugiat dictum. Nam a ullamcorper nulla, eu tincidunt lectus. Sed varius vel ex at ultrices.
                Aliquam ut elit bibendum, dignissim sem in, auctor dolor. Donec congue, ligula mollis gravida lobortis,
                ante nunc convallis orci, nec viverra nulla risus eget orci. Nulla nec erat egestas, molestie diam eu,
                ultricies massa. In in ante dapibus, malesuada ipsum a, mattis magna. Aliquam arcu justo, vestibulum
                ullamcorper est sit amet, ullamcorper vehicula augue. Curabitur in orci magna. Duis facilisis faucibus
                porttitor. In blandit massa purus, et laoreet odio facilisis et. Duis volutpat, nibh dignissim convallis
                ornare, augue tellus posuere turpis, vel cursus felis est ac turpis. Cras euismod scelerisque sem, eget
                condimentum dolor vehicula at. Fusce vel mauris blandit, mattis libero a, blandit quam. Nulla facilisis,
                tellus eget consequat fermentum, turpis metus viverra nibh, ac condimentum magna diam nec ligula.
            </p>
        </div>
    </section>

    <section class="box__info">
        <div class="box__info-detalhe">
            <div class="box__info-imagem img-circle"></div>
            <div class="box__info-texto text-left">
                Sou a Thalita e amo muito ler. E estou sempre com um livro por perto.
                Já li um pouco de tudo, e por isso, criei esse blog para poder compartilhar as resenhas dos livros que
                mais gostei.
            </div>
        </div>
    </section>

    <a href="#top" class="glyphicon glyphicon-chevron-up"></a>
</div>

<footer class="rodape">
    2017 Todos os direitos reservados - Desenvolvido por Thalita.
</footer>

<script>
    $(document).ready(function(){
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('a[href="#top"]').fadeIn();
            } else {
                $('a[href="#top"]').fadeOut();
            }
        });

        $('a[href="#top"]').click(function(){
            $('html, body').animate({scrollTop : 0},800);
            return false;
        });
    });
</script>

</body>
</html>